services:
    fatewheel:
        restart: unless-stopped
        env_file: .env
        volumes:
          - '/opt/docker/data/fatewheel/db/fates.sqlite:/usr/src/app/db/fates.sqlite'
        image: grahams/fatewheel:latest

